KNeighbors Regressor Model (Insurance)

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv(r"D:\Egaletly Solution ( AI )\Machine Learning\Insurance ( Data ).csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Check & Remove Duplicated values

In [4]:
df.duplicated().sum()

1

In [5]:
df = df.drop_duplicates()

Check Missing Values

In [6]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Dividing the data into numerical and categorical

In [7]:
numerical = df.select_dtypes(exclude="O")

In [8]:
numerical

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1337 rows x 4 columns]

In [9]:
obj = df.select_dtypes(include="O")

In [10]:
obj

         sex smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1337 rows x 3 columns]

Encoding

In [11]:
en_data = df[["sex","smoker","region"]]

In [12]:
clean_obj = pd.get_dummies(en_data,dtype="int",drop_first="True")

In [13]:
clean_obj

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,0,1,0,0,1
1,1,0,0,1,0
2,1,0,0,1,0
3,1,0,1,0,0
4,1,0,1,0,0
...,...,...,...,...,...
1333,1,0,1,0,0
1334,0,0,0,0,0
1335,0,0,0,1,0
1336,0,0,0,0,1
1337,0,1,1,0,0

In [14]:
numerical

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
...   ...     ...       ...          ...
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1337 rows x 4 columns]

In [15]:
clean_obj["age"] = numerical["age"]

In [16]:
clean_obj["bmi"] = numerical["bmi"]

In [17]:
clean_obj["children"] = numerical["children"]

In [18]:
clean_obj["charges"] = numerical["charges"]

In [19]:
clean_obj

,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest,age,bmi,children,charges
0,0,1,0,0,1,19,27.900,0,16884.92400
1,1,0,0,1,0,18,33.770,1,1725.55230
2,1,0,0,1,0,28,33.000,3,4449.46200
3,1,0,1,0,0,33,22.705,0,21984.47061
4,1,0,1,0,0,32,28.880,0,3866.85520
...,...,...,...,...,...,...,...,...,...
1333,1,0,1,0,0,50,30.970,3,10600.54830
1334,0,0,0,0,0,18,31.920,0,2205.98080
1335,0,0,0,1,0,18,36.850,0,1629.83350
1336,0,0,0,0,1,21,25.800,0,2007.94500
1337,0,1,1,0,0,61,29.070,0,29141.36030

Divide the data in training and testing

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [21]:
X = clean_obj.drop(['charges'], axis='columns')
y = clean_obj[['charges']]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state = 42,test_size=50,shuffle=True)

In [23]:
scaler = StandardScaler()

In [24]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
X.columns

Index(['sex_male', 'smoker_yes', 'region_northwest', 'region_southeast',
       'region_southwest', 'age', 'bmi', 'children'],
      dtype='object')

In [26]:
X_train= pd.DataFrame(X_train_scaled,columns=X.columns)
X_test= pd.DataFrame(X_test_scaled,columns=X.columns)

Build Model

In [27]:
from sklearn.neighbors import KNeighborsRegressor

In [28]:
krr= KNeighborsRegressor(n_neighbors=3)

In [29]:
krr.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=3)

In [30]:
krr.score(X_train,y_train)*100

89.76017442827768

In [31]:
krr.score(X_test,y_test)*100

86.85534860457524